<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900;100;200&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="app">
        <header>
            <nav>
                <div class="menu">
                    <div>
                        <img src="../img/logo.png" />
                    </div>
                    <div>
                        <a href="#">
                            <span><br>Inicio</span>
                        </a>

                    </div>
                    <div>
                        <a href="#">
                            <span><br>Products</span>
                        </a>
                    </div>
                </div>
                <div class="nav-cart">
                    <a @click="showCart"><br>
                        <i class="fa-solid fa-cart-shopping"></i></i>
                        <span>Cart({{quantity.products}})</span>
                    </a>
                </div>
            </nav>
        </header>
        <div class="portada">
            <video loop autoplay>
                <source src="../img/portrait.mp4" type="video/mp4">
            </video>
        </div>
        <div class="title-products">
            <h1 @click="downProducts">{{titleProducts}} <i class="fa-solid fa-angle-down"></i></h1>
        </div>
        <div class="products" v-if="showProducts">
            <div v-for="(articles, i) in products.slice(0,3)" :key="i" >
                <div class="top-products" >
                    <div class="card" >
                        <img :src="articles.img" alt="Product" />
                        <h3>{{articles.name}}</h3>
                        <span>${{articles.price}}
                        </span>
                        <input type="number" class="counter" v-model.number="quantity"/>
                        <i @click="functionAgregar(article)" class="fa-solid fa-cart-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <cart-show v-if='ifShowCart' />
    </div>
    <script src="https://unpkg.com/vue@3"></script>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    titleProducts: "Top Products",
                    ifShowCart: false,
                    products: [],
                    quantity: '',  
                    showProducts: true,         
                }
            }
            ,
            methods: {
                showCart() {
                    this.ifShowCart = !this.ifShowCart
                },
                async import() {
                    const response = await fetch('http://localhost:3000/products');
                    const data = await response.json();

                    this.products = data
                },

                functionAgregar(article){
                   console.log(this.article[price])
                    
                },

                downProducts(){
                    this.showProducts = !this.showProducts
                }
            },

            async mounted() {
                await this.import();

            },

            created() {
                console.log("created")
            }

        })
        app.component('cart-show', {
            template: `
            <div class="align-cart">
            <div class="cart">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th><span>Product</span></th>
                                <th><span>Price</span></th>
                                <th><span>Qty</span></th>
                                <th><span>Total</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Air</td>
                                <td>$35.00</td>
                                <td>2</td>
                                <td>$70.00</td>
                                <td class="button-X">
                                    <button class="delete">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>No producst in the cart</p>
                    <span class="total"><strong>Total:</strong></span>
                </div>
            </div>
        </div>`
        }),


            app.mount("#app")


    </script>
</body>
<footer>
    <p>Page created for personal project - Eliseo Murillo</p>
</footer>

</html>